.osa-header {
    background-color: #35488d;
    width: 100%;
    padding: 15px 8px;
    height: 60px;

    .logo {
      position: absolute;
     img {
        width: 100px;
     }
    }

    .avatar {
        position:absolute ;
        right: 10px;
    }
}

.ost-content-container {
    width: 100%;
    .ost-palette {
      width: 20%;
      position: absolute;
      padding: 20px 0px;
      height: 100vh;

      .item {
          cursor : pointer;
        p {
            padding: 10px 0px 10px 15px;
        }

        &.active {
            background-color: #2c9ded29;
            color: #1890ff;
            border-right: 4px solid #1890ff;
            font-weight: 600;
        }
      }


    }

    .ost-content {
        width: 80%;
        position: absolute;
        right: 0px;
        background-color: #a4a5a745;
        padding: 20px 15px;
        min-height: 100vh;
    }
}

.ost-dashboard-chart {
    width: 40vw;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    padding: 0px 30px 0px 30px;
    border-radius: 5px;
    margin: 0px 10px;
    &:hover {
        box-shadow: 0px 0px 30px #b3b1b1;
    }
}
.ost--datatable-search {
    background-color: #fff !important;
    border: 1px solid #e3dcdc !important;
    border-radius: 2px;
    .ant-input-prefix {
      left: 8px;
    }
  }

  .ant-table-tbody > tr.ant-table-row:hover > td {
    background: transparent;
  }

  .ant-table-tbody > tr > td {
     border-bottom: none;
     padding: 5px 0px;
}